@import './variable'
@import './table'
@import './filters'
.el-loading-mask
  background-color: rgba(255,255,255,.5)!important
  .el-loading-spinner .path
    stroke $subject-color
    stroke-width 4px
body
  margin 0
